<a href="https://colab.research.google.com/github/vermilion4/pandasTest/blob/master/pandas_quick_data_analysis_exercises_4b2f83.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____

### Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
import pandas as pd

In [11]:
commerce = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Datasets/Ecommerce Purchases')

In [12]:
commerce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

### Check the head of the DataFrame.

In [13]:
commerce.head()

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                   Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3              7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82

[5 rows x 14 columns]

### How many rows and columns are there?

In [14]:
commerce.shape

(10000, 14)

 ### What is the average Purchase Price?

In [15]:
commerce['Purchase Price'].mean()

50.34730200000025

### What were the highest and lowest purchase prices?

In [16]:
commerce['Purchase Price'].agg(['max','min'])

max    99.99
min     0.00
Name: Purchase Price, dtype: float64

### How many people have English 'en' as their Language of choice on the website?

In [17]:
commerce[commerce['Language']=='en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

### How many people have the job title of "Lawyer" ?

In [18]:
commerce[commerce['Job']=='Lawyer'].count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

### How many people made the purchase during the AM and how many people made the purchase during PM ? 

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [19]:
commerce['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

### What are the 5 most common Job Titles?

In [20]:
commerce['Job'].value_counts()[:5]

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Purchasing manager                   27
Name: Job, dtype: int64

### Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?

In [21]:
person = commerce[commerce['Lot'] == '90 WT']
person['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

### What is the email of the person with the following Credit Card Number: 4926535242672853

In [22]:
person2 = commerce[commerce['Credit Card'] == '4926535242672853']
person2['Email']

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Series([], Name: Email, dtype: object)

### How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?

In [23]:
merican_xpress = commerce[(commerce['CC Provider'] == 'American Express') & (commerce['Purchase Price'] > 95)] 
merican_xpress.count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

### Hard: How many people have a credit card that expires in 2025?

In [24]:
trial = commerce['CC Exp Date'].str.split(pat = '/',expand=True)
trial[trial[1]=='25'].count()

0    1033
1    1033
dtype: int64

### Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)

In [25]:
trial2 = commerce['Email'].str.split(pat = '@', expand=True)
trial2[1].value_counts()[:5]

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: 1, dtype: int64

# Great Job!